:root{
    --cor0: rgb(9, 105, 38);
    --cor1: rgba(236, 200, 0, 0.938);
    
    --fonte-padrao:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
}

header{
    font-family: --fonte-padrao;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: var(--cor0);
}

header h1 {
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: underline var(--cor1);
}

header a:hover{
    transform: scale(1);
    transition: all .5s ease;
    cursor: pointer;
    color: black;
}

picture img{
    width: 100%;
}

main{
    margin: auto; 
}

.nav-esquerda{
    font-size: 18px;
    text-align: left;
    padding: 30px;
    color: white;
    text-decoration: none;
}

.nav-direita{
    font-size: 18px;
    justify-content: right;
    padding: 30px;
    color: white;
    text-decoration: none;
}

.super-vantagens-container{
    color: rgba(83, 71, 71, 0.938);
    font-size: x-large;
    font-family: --fonte-padrao;
    min-width: 300px;
    max-width: 1000px;
    margin: 80px 338px 200px 338px;
}

.super{
    padding-bottom: 50px;
}

.underline{
    font-size: 70px;
    color: var(--cor1);
}

.container-1{
    display: flex;
}

.container-2{
    width: 25%;
    font-size: 18px;
    background-color: rgba(253, 253, 253, 0.479);
    padding: 15px;
    text-align: left;
    border-radius: 20px;
    margin-left: 20px;
    border: 0.5px solid rgba(0, 0, 0, 0.075);
}

.container-2 h3 {
    text-align: left;
    padding: 10px 0px 10px 0px;
}

.favicon{
    margin-left: 5%;
}

section{
    position: relative;
}

.consorcio{
    display: flex;
    background-color: var(--cor1);
    margin: 120px 200px 120px 200px;
    border-radius: 40px 40px 40px 40px;
    width: 80%;
    overflow: hidden;
    position: relative;
    height: 440px;
    
}

.consorcio1 {
    flex: 1; /* Ajustado para ocupar o restante do espaço*/
    position: relative; /* Adicionado para posicionar corretamente*/
}

.avengers{
    width: 70%;
}

.guy {
    width: 350px;
    position: absolute;
    left: 290px;
    z-index: 1;
    margin-left: 80px;
    top: 50%; /* Ajustado para centralizar verticalmente*/
    transform: translateY(-50%); /* Ajustado para centralizar verticalmente*/
}

.consorcio2 {
    margin-left: auto;
    padding-right: 200px;
    width: 200px; /* Ajuste conforme necessário */
    height: 80%; /* Ajuste conforme necessário para cobrir toda a altura da tela */
    background-color: var(--cor1); /* Cor de fundo desejada */
    text-align: left;
    border-radius: 20px 20px 20px 20px;
    position: relative;
}
